@font-face {
  font-family: 'JS Flat';
  src: url('../fonts/JsFlat/JF-Flat-regular.eot');
  src: url('../fonts/JsFlat/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JsFlat/JF-Flat-regular.woff') format('woff'),
        url('../fonts/JsFlat/JF-Flat-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}