// colors
$white: #ffffff;
$white1: #fcfcfc;
$lightGray: #efefef;
$mediumGray:#e1e1e9;
$darkgray: #303030;
$black: #000000;
$lightGreen: #1bf1ad;
$lightBrown: #e98457;

//variables width
$w100: 100%;
$w90: 90%;
$bgcolor: #000;
$tac: center;

